.contenedor-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;
    grid-gap: 10px;
  
  }
  
  .img-galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .galeria-index:nth-child(5) {
    grid-column-start: span 2;
  }
  
  .galeria-index:nth-child(9) {
    grid-column-start:span 2 ;
  }

  /* -------------------------------------------SECCIÓN SOMOS DEL MUNDO -------------------------------------------*/
  .contenedor-somos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;
    grid-gap: 10px;
  
  }
  
  .img-somos {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .galeria-somos:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 
  
  .galeria-somos:nth-child(8) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  
  .galeria-somos:nth-child(10) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  /* -------------------------------------------SECCIÓN CROSSDREAMERS -------------------------------------------*/
  .contenedor-cross {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;
    grid-gap: 10px;
  
  }
  
  .img-cross {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .galeria-cross:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 
  
  .galeria-cross:nth-child(2) {
    grid-row-start: span 2;
   
  } 
  .galeria-cross:nth-child(3) {
    grid-row-start: span 2;
   
  } 
  
  .galeria-cross:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  } 
  
  .galeria-cross:nth-child(11) {
    grid-column-start: span 2;
   
  } 
  /* -------------------------------------------SECCIÓN HINCHAS DE LA SOLEDAD -------------------------------------------*/
/*GALERÍA*/
.contenedor-hinchas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;
    grid-gap: 10px;
  
  }
  
  .img-hinchas {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .galeria-hinchas:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 
  
  .galeria-hinchas:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 
  
  /* -------------------------------------------SECCIÓN ESCENARIOS -------------------------------------------*/
  /*GALERÍA*/
  
  .contenedor-escenarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;
    grid-gap: 10px;
  
  }
  
  .img-escenarios {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .galeria-escenarios:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 
  .galeria-escenarios:nth-child(7) {
    grid-column-start: span 2;
  
  } 
  
  .galeria-escenarios:nth-child(10) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 
  
  /* -------------------------------------------SECCIÓN CAMARINES -------------------------------------------*/
  /*GALERÍA*/
  
  .contenedor-camarines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 20px;
    grid-gap: 10px;
  
  }
  
  .img-camarines {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .galeria-camarines:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 
  
  .galeria-camarines:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start:span 2;
  } 