/* ------------------------------------------- SECCIÓN SOBRE MI -------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
  
  }
  
  .contenidoSobreMi .imagen-sobremi {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .imagen-sobremi img {
    border-radius: 50px;
  }
   
  
  .contenidoSobreMi .paragraph-sobremi {
    color: gray;
    font-size: 15px;
    font-weight: 800;
  }

  /* ------------------------------------------- ESTILOS DEL LOS PÁRRAFOS DE TODAS LAS SECCIONES -------------------------------------------*/

.parrafo-1 {
    margin-top: 20px;
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-decoration: grey;
    text-indent: unset;
    text-transform: none;
    word-spacing: 0mm;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-decoration: grey;
    text-indent: unset;
    text-transform: none;
    word-spacing: 0mm;
  
  }

  /*  ------------------------------------------- ESTILOS GENERALES -------------------------------------------  */

a {
    text-decoration: none;
}

body {
  overflow-x: hidden;
}


img {
  pointer-events: none;
}